<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.bcit.pubhub">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity android:name=".activities.HistoryActivity" />
        <activity android:name=".activities.ChatActivity" />
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.Categories.SoccerActivity" />
        <activity android:name=".activities.Categories.EsportsActivity" />
        <activity android:name=".activities.Categories.BasketballActivity" />
        <activity android:name=".activities.Categories.BaseballActivity" />
        <activity android:name=".activities.Categories.SoccerListActivity" />
        <activity android:name=".activities.Categories.BasketballListActivity" />
        <activity android:name=".activities.Categories.BaseballListActivity" />
        <activity android:name=".activities.Categories.EsportsListActivity" />
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>